{"openapi":"3.1.0","info":{"title":"SIGES API","contact":{"name":"Carlos Emanuel Salgado Trujillo","email":"20243ds158@utez.edu.mx"},"version":"1.0"},"servers":[{"url":"https://siges.lat/api","description":"AWS EC2 default and only production server"},{"url":"http://localhost:8080/api","description":"Localhost test server"}],"security":[{"jwt":[]}],"tags":[{"name":"buildings","description":"Endpoints for managing buildings"},{"name":"Space Assets","description":"Endpoints for managing spaces technical assets (included non-reservable equipments)"},{"name":"Space Types","description":"Endpoints for managing space types"},{"name":"User Registration","description":"Endpoints for Admins to register other users in the system"},{"name":"Space","description":"Endpoints for managing spaces"},{"name":"Reports","description":"Reports and Statistics API"},{"name":"equipments","description":"Endpoints for managing equipment"},{"name":"spaces","description":"Endpoints for managing spaces"},{"name":"auth","description":"Flujo de autenticación y cierre de sesión para usuario"},{"name":"Equipment Types","description":"Endpoints for managing equipment types"},{"name":"reservables","description":"Endpoints for searching across all reservables (Spaces and Equipments)"},{"name":"Users","description":"Endpoints for managing and querying users data"},{"name":"Actuator","description":"Monitor and interact","externalDocs":{"description":"Spring Boot Actuator Web API Documentation","url":"https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"}},{"name":"reservations","description":"Endpoints for managing reservations"},{"name":"Password Recovery","description":"Endpoints for whole sequence of password recovery and update"}],"paths":{"/users/{id}/email":{"put":{"tags":["Users"],"summary":"updates the email of any user. Only available for admins","operationId":"updateEmail","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"409":{"description":"email already in use","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}}}}},"/users/me/profile-picture":{"put":{"tags":["Users"],"summary":"Uploads and updates the profile picture for the current user.","operationId":"updateProfilePicture","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProfilePictureResponse"}}}}}}},"/users/me/notification-preferences":{"get":{"tags":["Users"],"summary":"Get the notification preferences for the current user.","operationId":"getNotificationPreferences","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationPreferenceResponse"}}}}}}},"put":{"tags":["Users"],"summary":"Update the notification preferences for the current user. Replaces all existing preferences.","operationId":"updateNotificationPreferences","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationPreferenceUpdateRequest"}}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationPreferenceResponse"}}}}}}}},"/students/{id}/registration-number":{"put":{"tags":["Users"],"summary":"updates the registration number of any student. Only available for admins","operationId":"updateStudentRegistrationNumber","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegNumberUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentResponse"}}}},"404":{"description":"Student not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentResponse"}}}},"409":{"description":"student registration number already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentResponse"}}}}}}},"/spaces/{id}":{"get":{"tags":["spaces"],"summary":"Get a space by ID","operationId":"getSpace","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Space found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceDto"}}}},"404":{"description":"Space not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["spaces"],"summary":"Update an existing space","operationId":"updateSpace","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Space updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceDto"}}}},"404":{"description":"Space not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceDto"}}}}},"security":[{"jwt":[]}]}},"/spaces/assets/{id}":{"get":{"tags":["Space","Space Assets"],"summary":"Get an space asset by ID","operationId":"getSpaceAsset","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Space asset found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}},"404":{"description":"Space asset not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["Space","Space Assets"],"summary":"Update an existing equipment","operationId":"updateSpaceAsset","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceAssetUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Space asset updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}},"404":{"description":"Space asset not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}},"409":{"description":"Name or inventory num is not unique","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}}},"security":[{"jwt":[]}]}},"/space-types/{id}":{"get":{"tags":["Space Types"],"summary":"Get a space type by ID","operationId":"getSpaceType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"SpaceType found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceTypeDto"}}}},"404":{"description":"SpaceType not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceTypeDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["Space Types"],"summary":"Update an existing space type","operationId":"updateSpaceType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceTypeUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"SpaceType updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceTypeDto"}}}},"404":{"description":"SpaceType not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceTypeDto"}}}}},"security":[{"jwt":[]}]}},"/institutional-staff/{id}/employee-number":{"put":{"tags":["Users"],"summary":"updates the employee number of any institutional staff. Only available for admins","operationId":"updateEmployeeNumber","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmpNumberUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffResponse"}}}},"404":{"description":"Institutional Staff not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffResponse"}}}},"409":{"description":"employee number already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffResponse"}}}}}}},"/equipments/{id}":{"get":{"tags":["equipments"],"summary":"Get an equipment by ID","operationId":"getEquipment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Equipment found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentDto"}}}},"404":{"description":"Equipment not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["equipments"],"summary":"Update an existing equipment","operationId":"updateEquipment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Equipment updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentDto"}}}},"404":{"description":"Equipment not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentDto"}}}}},"security":[{"jwt":[]}]}},"/equipment-types/{id}":{"get":{"tags":["Equipment Types"],"summary":"Get an equipment type by ID","operationId":"getEquipmentType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"EquipmentType found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}},"404":{"description":"EquipmentType not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["Equipment Types"],"summary":"Update an existing equipment type","operationId":"updateEquipmentType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentTypeUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"EquipmentType updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}},"404":{"description":"EquipmentType not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}}},"security":[{"jwt":[]}]}},"/buildings/{id}":{"get":{"tags":["buildings"],"summary":"Get a building by ID","operationId":"getBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Building found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"404":{"description":"Building not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}}},"security":[{"jwt":[]}]},"put":{"tags":["buildings"],"summary":"Update an existing building","operationId":"updateBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingUpdateDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Building updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"404":{"description":"Building not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"409":{"description":"Name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}}},"security":[{"jwt":[]}]}},"/users/me/push-tokens":{"post":{"tags":["Users"],"summary":"Register a new Push Token for the current user.","operationId":"registerPushToken","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushTokenRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK"}}}},"/students":{"post":{"tags":["User Registration"],"summary":"Registers a new admin","operationId":"registerStudent","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentRegistrationRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Created","headers":{"Location":{"description":"Relative URL location of the newly created student","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentResponse"}}}},"409":{"description":"email, phone number or student registration number is already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StudentResponse"}}}}}}},"/spaces":{"get":{"tags":["spaces"],"summary":"Search spaces by filters","operationId":"searchSpaces","parameters":[{"name":"searchQuery","in":"query","description":"Query for searching an space by containing name or description String","required":false,"schema":{"type":"string","description":"Query for searching an space by containing name or description String","example":"auditorio"},"example":"auditorio"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Filter by simple space state (ACTIVE or MAINTENANCE)","required":false,"schema":{"type":"string","description":"Filter by simple space state (ACTIVE or MAINTENANCE)","enum":["AVAILABLE","MAINTENANCE","LOANED"]}},{"name":"buildingId","in":"query","description":"Filter by building the space is which the space is located","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by building the space is which the space is located"}},{"name":"studentsAvailable","in":"query","description":"Filter depending on whether the space is visible to students or not","required":false,"schema":{"type":"boolean","description":"Filter depending on whether the space is visible to students or not"}},{"name":"spaceTypeIdFilter","in":"query","description":"Filter by the Space Type that categorizes this space","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by the Space Type that categorizes this space"}},{"name":"requestStart","in":"query","description":"Filter by the start time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the start time of a desired availability window"}},{"name":"requestEnd","in":"query","description":"Filter by the end time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the end time of a desired availability window"}},{"name":"capacity","in":"query","description":"Filter by the minimum number of people the space should accommodate.","required":false,"schema":{"type":"integer","format":"int32","description":"Filter by the minimum number of people the space should accommodate."}},{"name":"showMode","in":"query","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","required":false,"schema":{"type":"string","default":"ACTIVE","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSpaceDto"}}}}},"security":[{"jwt":[]}]},"post":{"tags":["spaces"],"summary":"Register a new space","operationId":"registerSpace","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Space registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created equipment","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceDto"}}}}},"security":[{"jwt":[]}]}},"/spaces/{spaceId}/assets":{"post":{"tags":["Space","Space Assets"],"summary":"Register a new asset within an space scope","operationId":"registerSpaceAsset","parameters":[{"name":"spaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceAssetRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Space asset registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created asset","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}},"409":{"description":"Name or inventory num is not unique","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceAssetDto"}}}}},"security":[{"jwt":[]}]}},"/space-types":{"get":{"tags":["Space Types"],"summary":"Get all space types","operationId":"getAllSpaceTypes","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"showMode","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceTypeDto"}}}}}},"security":[{"jwt":[]}]},"post":{"tags":["Space Types"],"summary":"Register a new space type","operationId":"registerSpaceType","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SpaceTypeRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"SpaceType registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created equipment","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/SpaceTypeDto"}}}}},"security":[{"jwt":[]}]}},"/reservations":{"get":{"tags":["reservations"],"summary":"Search reservations by filters","operationId":"getReservations","parameters":[{"name":"petitionerId","in":"query","description":"Filter by petitioner user ID","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by petitioner user ID"}},{"name":"petitionerName","in":"query","description":"Filter by petitioner name (partial, case-insensitive)","required":false,"schema":{"type":"string","description":"Filter by petitioner name (partial, case-insensitive)"}},{"name":"date","in":"query","description":"Filter by exact reservation date","required":false,"schema":{"type":"string","format":"date","description":"Filter by exact reservation date"}},{"name":"dateFrom","in":"query","description":"Filter reservations from this date (inclusive). Ignored if 'date' is set.","required":false,"schema":{"type":"string","format":"date","description":"Filter reservations from this date (inclusive). Ignored if 'date' is set."}},{"name":"dateTo","in":"query","description":"Filter reservations until this date (inclusive). Ignored if 'date' is set.","required":false,"schema":{"type":"string","format":"date","description":"Filter reservations until this date (inclusive). Ignored if 'date' is set."}},{"name":"statuses","in":"query","description":"Filter by reservation statuses","required":false,"schema":{"type":"array","description":"Filter by reservation statuses","items":{"type":"string","description":"Filter by reservation statuses","enum":["PENDING","APPROVED","REJECTED","CANCELLED","IN_PROGRESS","FINISHED"]}}},{"name":"reservableId","in":"query","description":"Filter by reservable ID","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by reservable ID"}},{"name":"type","in":"query","description":"Filter by grouping type (SINGLE or GROUP)","required":false,"schema":{"type":"string","description":"Filter by grouping type (SINGLE or GROUP)","enum":["GROUP","SINGLE"]}},{"name":"q","in":"query","description":"Search query (reservable name, building name, or petitioner name)","required":false,"schema":{"type":"string","description":"Search query (reservable name, building name, or petitioner name)"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"400":{"description":"Invalid filter or sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReservationResponse"}}}}}},"post":{"tags":["reservations"],"summary":"Create a new reservation","operationId":"createReservation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReservationRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Reservation created","headers":{"Location":{"description":"URI to retrieve the created reservation","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservable or user not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"Reservation overlaps with an existing one","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"422":{"description":"Reservation of space was made with too little anticipation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/notes":{"post":{"tags":["reservations"],"summary":"Add a note to a reservation","operationId":"addNote","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublishNoteRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Note added","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/password-recovery/request":{"post":{"tags":["Password Recovery"],"summary":"Requests a password recovery flow","operationId":"requestRecovery","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestAccountRecovery"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"202":{"description":"Recovery email sent if account exists. Always returns 202 to prevent user enumeration"}}}},"/institutional-staff":{"post":{"tags":["User Registration"],"summary":"Registers a new institutional staff","operationId":"registerInstitutionalStaff","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffRegistrationRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Created","headers":{"Location":{"description":"Relative URL location of the newly created institutional staff","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffResponse"}}}},"409":{"description":"email, phone number or employee number is already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InstitutionalStaffResponse"}}}}}}},"/equipments":{"get":{"tags":["equipments"],"summary":"Search equipment by filters","operationId":"searchEquipments","parameters":[{"name":"searchQuery","in":"query","description":"Query for searching an equipment by containing name, description or inventory ID Num.","required":false,"schema":{"type":"string","description":"Query for searching an equipment by containing name, description or inventory ID Num.","example":"Teclado blanco"},"example":"Teclado blanco"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Filter by simple equipment state (ACTIVE or MAINTENANCE)","required":false,"schema":{"type":"string","description":"Filter by simple equipment state (ACTIVE or MAINTENANCE)","enum":["AVAILABLE","MAINTENANCE","LOANED"]}},{"name":"buildingId","in":"query","description":"Filter by building the equipment is located on","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by building the equipment is located on"}},{"name":"studentsAvailable","in":"query","description":"Filter depending on whether the equipment is visible to students or not","required":false,"schema":{"type":"boolean","description":"Filter depending on whether the equipment is visible to students or not"}},{"name":"spaceId","in":"query","description":"Filter by space the equipment is contained on","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by space the equipment is contained on"}},{"name":"equipmentTypeId","in":"query","description":"Filter by the type of the equipment","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by the type of the equipment"}},{"name":"requestStart","in":"query","description":"Filter by the start time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the start time of a desired availability window"}},{"name":"requestEnd","in":"query","description":"Filter by the end time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the end time of a desired availability window"}},{"name":"showMode","in":"query","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","required":false,"schema":{"type":"string","default":"ACTIVE","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEquipmentDto"}}}}},"security":[{"jwt":[]}]},"post":{"tags":["equipments"],"summary":"Register a new equipment","operationId":"registerEquipment","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Equipment registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created equipment","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentDto"}}}}},"security":[{"jwt":[]}]}},"/equipment-types":{"get":{"tags":["Equipment Types"],"summary":"Get all equipment types","operationId":"getAllEquipmentTypes","parameters":[{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"showMode","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}}}},"security":[{"jwt":[]}]},"post":{"tags":["Equipment Types"],"summary":"Register a new equipment type","operationId":"registerEquipmentType","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EquipmentTypeRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"EquipmentType registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created equipment type","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/EquipmentTypeDto"}}}}},"security":[{"jwt":[]}]}},"/buildings":{"get":{"tags":["buildings"],"summary":"Get all buildings","operationId":"getAllBuildings","parameters":[{"name":"showMode","in":"query","required":false,"schema":{"type":"string","default":"ACTIVE","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildingDto"}}}}}},"security":[{"jwt":[]}]},"post":{"tags":["buildings"],"summary":"Register a new building","operationId":"registerBuilding","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BuildingRegisterDto"}}},"required":true},"responses":{"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Building registered","headers":{"Location":{"description":"Relative URI to which retrieve the currently created building","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}},"409":{"description":"Name already exists","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BuildingDto"}}}}},"security":[{"jwt":[]}]}},"/auth/refresh":{"post":{"tags":["auth"],"operationId":"refresh","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"400":{"description":"bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"refresh success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}},"401":{"description":"refresh fails","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefreshResponse"}}}}},"security":[]}},"/auth/logout":{"post":{"tags":["auth"],"operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"400":{"description":"bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"logout success"},"401":{"description":"auth fails"}},"security":[{"jwt":[]}]}},"/auth/login":{"post":{"tags":["auth"],"operationId":"login","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"400":{"description":"bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"auth success","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatedResponse"}}}},"401":{"description":"auth fails","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InvalidCredentialsProblem"}}}},"429":{"description":"too many attempts","headers":{"Retry-After":{"description":"seconds after which you can try logging in again","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatedResponse"}}}}},"security":[]}},"/admins":{"post":{"tags":["User Registration"],"summary":"Registers a new admin","operationId":"registerAdmin","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRegistrationRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"201":{"description":"Created","headers":{"Location":{"description":"Relative URL location of the newly created admin","style":"simple"}},"content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"409":{"description":"email or phone number is already in use","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}}}}},"/users/{id}":{"get":{"tags":["Users"],"summary":"Finds a user by its ID. Only available for admins","operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}}}},"delete":{"tags":["Users"],"summary":"Soft deletes any user. Only available for admins","operationId":"deactivateUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Successfully deactivated"},"404":{"description":"User not found"}}},"patch":{"tags":["Users"],"summary":"updates user common data. Available for all admins and the owner of the account","operationId":"updateCommonInfo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserInfoUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"409":{"description":"phone number already in use","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}}}}},"/users/{id}/restore":{"patch":{"tags":["Users"],"summary":"Restores any soft-deleted user. Only available for admins","operationId":"restoreUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Successfully restored"},"404":{"description":"User not found"}}}},"/users/me/password":{"patch":{"tags":["Users"],"summary":"Updates self password","operationId":"updatePassword","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Password updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthenticatedResponse"}}}},"422":{"description":"Old password does not matches with current user password","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/spaces/{id}/deactivate":{"patch":{"tags":["spaces"],"summary":"Deactivate a space","operationId":"deactivateSpace","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Space deactivated"},"404":{"description":"Space not found"}},"security":[{"jwt":[]}]}},"/spaces/{id}/activate":{"patch":{"tags":["spaces"],"summary":"Activate a space","operationId":"activateSpace","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Space activated"},"404":{"description":"Space not found"}},"security":[{"jwt":[]}]}},"/spaces/assets/{id}/deactivate":{"patch":{"tags":["Space","Space Assets"],"summary":"Deactivate an equipment","operationId":"deactivateSpaceAsset","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"SpaceAsset deactivated"},"404":{"description":"SpaceAsset not found"}},"security":[{"jwt":[]}]}},"/spaces/assets/{id}/activate":{"patch":{"tags":["Space","Space Assets"],"summary":"Activate an equipment","operationId":"activateSpaceAsset","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"SpaceAsset activated"},"404":{"description":"SpaceAsset not found"}},"security":[{"jwt":[]}]}},"/space-types/{id}/deactivate":{"patch":{"tags":["Space Types"],"summary":"Deactivate a space type","operationId":"deactivateSpaceType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"SpaceType deactivated"},"404":{"description":"SpaceType not found"}},"security":[{"jwt":[]}]}},"/space-types/{id}/activate":{"patch":{"tags":["Space Types"],"summary":"Activate a space type","operationId":"activateSpaceType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"SpaceType activated"},"404":{"description":"SpaceType not found"}},"security":[{"jwt":[]}]}},"/reservations/{id}":{"get":{"tags":["reservations"],"summary":"Get a reservation by ID","operationId":"getReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}},"patch":{"tags":["reservations"],"summary":"Reschedule a reservation","description":"Only the petitioner can reschedule. Moves the reservation back to PENDING status.","operationId":"rescheduleReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RescheduleReservationRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation rescheduled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"403":{"description":"Only the petitioner can reschedule","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"New time slot overlaps with an existing reservation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"422":{"description":"Reservation of space was made with too little anticipation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/start":{"patch":{"tags":["reservations"],"summary":"Mark a reservation as Started","description":"Admin only. Reservation must be in APPROVED status.","operationId":"startReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation finished","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"Reservation is not in APPROVED status","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/reject":{"patch":{"tags":["reservations"],"summary":"Reject a reservation","description":"Admin only. Reservation must be in PENDING status.","operationId":"rejectReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectReservationRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation rejected","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"Reservation is not in PENDING status","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/notes/{noteId}":{"patch":{"tags":["reservations"],"summary":"Edit a note on a reservation","description":"Users can only edit their own notes. Admins can edit any note.","operationId":"editNote","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"noteId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditNoteRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Note updated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NoteItem"}}}},"403":{"description":"You can only edit your own notes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NoteItem"}}}},"404":{"description":"Reservation or note not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NoteItem"}}}}}}},"/reservations/{id}/finish":{"patch":{"tags":["reservations"],"operationId":"finishReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinishReservationRequest"}}}},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/cancel":{"patch":{"tags":["reservations"],"summary":"Cancel a reservation","description":"Petitioner can cancel their own reservation. Admins can cancel any.","operationId":"cancelReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelReservationRequest"}}},"required":true},"responses":{"400":{"description":"Validation error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation cancelled","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"403":{"description":"Only the petitioner or an admin can cancel","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"Reservation cannot be cancelled in its current status","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/reservations/{id}/approve":{"patch":{"tags":["reservations"],"summary":"Approve a reservation","description":"Admin only. Reservation must be in PENDING status.","operationId":"approveReservation","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveReservationRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservation approved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"404":{"description":"Reservation not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}},"409":{"description":"Reservation is not in PENDING status","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReservationResponse"}}}}}}},"/password-recovery/reset":{"patch":{"tags":["Password Recovery"],"summary":"Updates a password","operationId":"resetPassword","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordRecoveryUpdateRequest"}}},"required":true},"responses":{"400":{"description":"Validation problem","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Password updated successfully"},"410":{"description":"Token expired or already used","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}}}}},"/notifications/{id}/status":{"patch":{"tags":["Notifications"],"summary":"changes a single notification status to READ or UNREAD","operationId":"changeNotificationStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationStatusChangeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}},"404":{"description":"not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"/notifications/status":{"patch":{"tags":["Notifications"],"summary":"changes all notifications status from user to READ or UNREAD","operationId":"changeAllNotificationsStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationStatusChangeRequest"}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"successful"}}}},"/equipments/{id}/deactivate":{"patch":{"tags":["equipments"],"summary":"Deactivate an equipment","operationId":"deactivateEquipment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Equipment deactivated"},"404":{"description":"Equipment not found"}},"security":[{"jwt":[]}]}},"/equipments/{id}/activate":{"patch":{"tags":["equipments"],"summary":"Activate an equipment","operationId":"activateEquipment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Equipment activated"},"404":{"description":"Equipment not found"}},"security":[{"jwt":[]}]}},"/equipment-types/{id}/deactivate":{"patch":{"tags":["Equipment Types"],"summary":"Deactivate an equipment type","operationId":"deactivateEquipmentType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"EquipmentType deactivated"},"404":{"description":"EquipmentType not found"}},"security":[{"jwt":[]}]}},"/equipment-types/{id}/activate":{"patch":{"tags":["Equipment Types"],"summary":"Activate an equipment type","operationId":"activateEquipmentType","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"EquipmentType activated"},"404":{"description":"EquipmentType not found"}},"security":[{"jwt":[]}]}},"/buildings/{id}/deactivate":{"patch":{"tags":["buildings"],"summary":"Deactivate a building","operationId":"deactivateBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Building deactivated"},"404":{"description":"Building not found"}},"security":[{"jwt":[]}]}},"/buildings/{id}/activate":{"patch":{"tags":["buildings"],"summary":"Activate a building","operationId":"activateBuilding","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"204":{"description":"Building activated"},"404":{"description":"Building not found"}},"security":[{"jwt":[]}]}},"/users":{"get":{"tags":["Users"],"summary":"Search users by filters, order by sorting fields, and page results","operationId":"searchUsers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"q","in":"query","description":"Query for searching by email, name, phone number, student registration number or employee number ","required":false,"schema":{"type":"string","description":"Query for searching by email, name, phone number, student registration number or employee number "}},{"name":"createdBy","in":"query","description":"Filter by the email of the registerer of the account","required":false,"schema":{"type":"string","description":"Filter by the email of the registerer of the account"}},{"name":"showMode","in":"query","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","required":false,"schema":{"type":"string","default":"ALL","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"userTypes","in":"query","description":"Filter by the type of user (admin, student or staff). Can select multiple of them","required":false,"schema":{"type":"array","description":"Filter by the type of user (admin, student or staff). Can select multiple of them","items":{"type":"string","description":"Filter by the type of user (admin, student or staff). Can select multiple of them","enum":["ADMIN","STUDENT","INSTITUTIONAL_STAFF"]}}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserResponse"}}}}}}},"/users/me":{"get":{"tags":["Users"],"summary":"Finds a user by its ID. Only available for admins","operationId":"findSelfProfile","parameters":[{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}}}}},"/users/lookup":{"get":{"tags":["Users"],"description":"Search a user by its unique identifier (email, phone number, employee number, or registration number)","operationId":"lookupByIdentifier","parameters":[{"name":"identifier","in":"query","description":"Query for searching by its exact email, name, phone number, student registration number or employee number","required":true,"schema":{"type":"string","description":"Query for searching by its exact email, name, phone number, student registration number or employee number"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserResponse"},{"$ref":"#/components/schemas/AdminResponse"},{"$ref":"#/components/schemas/ApplicantResponse"},{"$ref":"#/components/schemas/InstitutionalStaffResponse"},{"$ref":"#/components/schemas/StudentResponse"}]}}}}}}},"/spaces/assets":{"get":{"tags":["Space","Space Assets"],"summary":"Search asset by filters","operationId":"searchSpaceAssets","parameters":[{"name":"searchQuery","in":"query","description":"Query for searching an asset by containing name, description or inventory ID Num.","required":false,"schema":{"type":"string","description":"Query for searching an asset by containing name, description or inventory ID Num.","example":"Teclado blanco"},"example":"Teclado blanco"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"buildingId","in":"query","description":"Filter by building the asset is located on","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by building the asset is located on"}},{"name":"spaceId","in":"query","description":"Filter by space the asset is contained on","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by space the asset is contained on"}},{"name":"equipmentTypeId","in":"query","description":"Filter by the type of the asset (as equipment)","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by the type of the asset (as equipment)"}},{"name":"showMode","in":"query","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","required":false,"schema":{"type":"string","default":"ACTIVE","description":"Whether to fetch only ACTIVE records, only DELETED records, or ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSpaceAssetDto"}}}}},"security":[{"jwt":[]}]}},"/reservables":{"get":{"tags":["reservables"],"summary":"Search reservables by filters","operationId":"searchReservables","parameters":[{"name":"searchQuery","in":"query","description":"Query for searching a reservable by containing name or description String","required":false,"schema":{"type":"string","description":"Query for searching a reservable by containing name or description String","example":"auditorio"},"example":"auditorio"},{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Filter by simple reservable state (AVAILABLE, MAINTENANCE, etc.)","required":false,"schema":{"type":"string","description":"Filter by simple reservable state (AVAILABLE, MAINTENANCE, etc.)","enum":["AVAILABLE","MAINTENANCE","LOANED"]}},{"name":"buildingId","in":"query","description":"Filter by building where the reservable is located","required":false,"schema":{"type":"integer","format":"int64","description":"Filter by building where the reservable is located"}},{"name":"studentsAvailable","in":"query","description":"Filter depending on whether the reservable is available to students","required":false,"schema":{"type":"boolean","description":"Filter depending on whether the reservable is available to students"}},{"name":"requestStart","in":"query","description":"Filter by the start time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the start time of a desired availability window"}},{"name":"requestEnd","in":"query","description":"Filter by the end time of a desired availability window","required":false,"schema":{"type":"string","format":"date-time","dependentRequired":{"":["requestEnd"]},"description":"Filter by the end time of a desired availability window"}},{"name":"showMode","in":"query","description":"Whether to fetch only ACTIVE records, only INACTIVE records, or ALL","required":false,"schema":{"type":"string","default":"ACTIVE","description":"Whether to fetch only ACTIVE records, only INACTIVE records, or ALL","enum":["ACTIVE","INACTIVE","ALL"]}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Invalid sort field","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageReservableDto"}}}}},"security":[{"jwt":[]}]}},"/reservables/{reservableId}/calendar":{"get":{"tags":["Calendar"],"summary":"Query availability of a reservable as available ranges given a date range","operationId":"getCalendar","parameters":[{"name":"reservableId","in":"path","description":"Equipment or space to which query the availability agenda","required":true,"schema":{"type":"integer","format":"int64","description":"Equipment or space to which query the availability agenda"}},{"name":"from","in":"query","description":"Date range lower limit","required":false,"schema":{"type":"string","format":"date","default":"2026-04-09","description":"Date range lower limit"}},{"name":"to","in":"query","description":"Date range upper limit","required":false,"schema":{"type":"string","format":"date","default":"2026-05-09","description":"Date range upper limit"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DayAvailabilityItem"}}}}}}}},"/reservables/{id}":{"get":{"tags":["reservables"],"summary":"Get a reservable by ID","operationId":"getReservable","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"Reservable found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/EquipmentDto"},{"$ref":"#/components/schemas/SpaceDto"},{"$ref":"#/components/schemas/SpaceSummaryDto"}]}}}},"404":{"description":"Reservable not found","content":{"*/*":{"schema":{"oneOf":[{"$ref":"#/components/schemas/EquipmentDto"},{"$ref":"#/components/schemas/SpaceDto"},{"$ref":"#/components/schemas/SpaceSummaryDto"}]}}}}},"security":[{"jwt":[]}]}},"/reports/resources":{"get":{"tags":["Reports"],"summary":"Get statistics per resource","operationId":"getResourceStats","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceStatsDto"}}}}}}}},"/reports/resources/{id}":{"get":{"tags":["Reports"],"summary":"Get statistics per resource","operationId":"getResourceStats_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceStatsDto"}}}}}}},"/reports/dashboard":{"get":{"tags":["Reports"],"summary":"Get general dashboard statistics","operationId":"getDashboardStats","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DashboardStatsDto"}}}}}}},"/password-recovery/redirect":{"get":{"tags":["Password Recovery"],"summary":"Redirects email clients to the portal where the password update is done","operationId":"redirect","parameters":[{"name":"token","in":"query","description":"Recovery token sent via email","required":true,"schema":{"type":"string","description":"Recovery token sent via email","example":"eyJhbGciOiJIUzI1NiJ9..."},"example":"eyJhbGciOiJIUzI1NiJ9..."},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Malformed or missing token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"302":{"description":"Redirects to frontend reset password page with token as query param","headers":{"Location":{"description":"Frontend URL with token: https://frontend.com/reset-password?token=xxx","style":"simple"}}}}}},"/notifications":{"get":{"tags":["Notifications"],"summary":"gets all notifications for the logged in user","operationId":"listNotifications","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"status","in":"query","description":"Filter by notifications read and unread","required":false,"schema":{"type":"string","description":"Filter by notifications read and unread","enum":["READ","UNREAD"]}},{"name":"type","in":"query","description":"Filter by type of notification (semantic purpose)","required":false,"schema":{"type":"string","description":"Filter by type of notification (semantic purpose)","enum":["COMMENT_ON_RESERVATION","RESERVATION_RESCHEDULE","RESERVATION_REMINDER","RESERVATION_CREATED","RESERVATION_APPROVED","RESERVATION_REJECTED","RESERVATION_CANCELLED","PASSWORD_CHANGED","LOGIN_NEW_DEVICE"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageNotificationResponse"}}}}}}},"/actuator":{"get":{"tags":["Actuator"],"summary":"Actuator root web endpoint","operationId":"links","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}}}}}}},"/actuator/health":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'health'","operationId":"health","responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}},"/users/me/push-tokens/{token}":{"delete":{"tags":["Users"],"summary":"Unregister an existing Push Token for the current user.","operationId":"unregisterPushToken","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-API-Version","in":"header","schema":{"type":"string","default":"1.0.0","enum":["1.0.0"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"500":{"description":"Internal Server Error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetail"}}}},"200":{"description":"OK"}}}}},"components":{"schemas":{"ValidationProblem":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{}},"errors":{"type":"array","description":"List of validation errors","example":["email: must be a well-formed email address","password: size must be between 8 and 64"],"items":{"type":"string"}}}},"ProblemDetail":{"type":"object","properties":{"type":{"type":"string","format":"uri"},"title":{"type":"string"},"status":{"type":"integer","format":"int32"},"detail":{"type":"string"},"instance":{"type":"string","format":"uri"},"properties":{"type":"object","additionalProperties":{}}}},"EmailUpdateRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","description":"new email of the user. Must have 'utez.edu.mx' domain","example":"student1@utez.edu.mx","minLength":1,"pattern":"^[a-zA-Z0-9._%+\\-]+@utez\\.edu\\.mx$"}},"required":["email"]},"AdminResponse":{"allOf":[{"$ref":"#/components/schemas/UserResponse"}]},"ApplicantResponse":{"allOf":[{"$ref":"#/components/schemas/UserResponse"},{"type":"object","properties":{"lateReturnsCount":{"type":"integer","format":"int64"}}}]},"InstitutionalStaffResponse":{"allOf":[{"$ref":"#/components/schemas/ApplicantResponse"},{"type":"object","properties":{"employeeNumber":{"type":"string"}}}]},"StudentResponse":{"allOf":[{"$ref":"#/components/schemas/ApplicantResponse"},{"type":"object","properties":{"registrationNumber":{"type":"string"}}}]},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"birthDate":{"type":"string","format":"date"},"createdAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"deletedAt":{"type":"string","format":"date-time"},"role":{"type":"string"},"enabled":{"type":"boolean"},"profilePictureUrl":{"type":"string"}}},"ProfilePictureResponse":{"type":"object","properties":{"profilePictureUrl":{"type":"string","description":"The URL of the uploaded profile picture"}}},"NotificationPreferenceUpdateRequest":{"type":"object","properties":{"type":{"type":"string","description":"Specific type of notification to edit","enum":["COMMENT_ON_RESERVATION","RESERVATION_RESCHEDULE","RESERVATION_REMINDER","RESERVATION_CREATED","RESERVATION_APPROVED","RESERVATION_REJECTED","RESERVATION_CANCELLED","PASSWORD_CHANGED","LOGIN_NEW_DEVICE"]},"emailEnabled":{"type":"boolean","description":"Whether email notifications are enabled"},"inAppEnabled":{"type":"boolean","description":"Whether in-app and push notifications are enabled"}},"required":["type"]},"NotificationPreferenceResponse":{"type":"object","properties":{"type":{"type":"string","enum":["COMMENT_ON_RESERVATION","RESERVATION_RESCHEDULE","RESERVATION_REMINDER","RESERVATION_CREATED","RESERVATION_APPROVED","RESERVATION_REJECTED","RESERVATION_CANCELLED","PASSWORD_CHANGED","LOGIN_NEW_DEVICE"]},"emailEnabled":{"type":"boolean"},"inAppEnabled":{"type":"boolean"}}},"RegNumberUpdateRequest":{"type":"object","properties":{"registrationNumber":{"type":"string","description":"New enrollment number of the student","example":"20243ds158","examples":["20253ds158","20241asd002"],"minLength":1,"pattern":"^(19|20)\\d{2}[0-9][a-zA-Z]{2,4}\\d{3}$"}},"required":["registrationNumber"]},"AvailabilityExceptionUpdateDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID of the existing exception. Leave null for new exceptions."},"dateFrom":{"type":"string","format":"date","description":"Date from which this availability exception begins"},"dateTo":{"type":"string","format":"date","description":"Date until which this availability exception begins"},"startTime":{"type":"string","description":"Availability exception start time"},"endTime":{"type":"string","description":"End time of the availability exception"},"reason":{"type":"string","description":"Short reason or cause for this exception in availability","maxLength":255,"minLength":1}},"required":["dateFrom","dateTo","endTime","reason","startTime"]},"AvailabilitySlotUpdateDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID of the existing slot. Leave null for new slots."},"dateFrom":{"type":"string","format":"date","description":"Date from which this availability statement is valid. If NULL or not specified, it is interpreted as immediate validity."},"dateTo":{"type":"string","format":"date","description":"Date until which this availability statement is valid. If NULL or not specified, it is interpreted as valid indefinitely."},"startTime":{"type":"string","description":"Availability start time"},"endTime":{"type":"string","description":"Availability end time"},"daysOfWeek":{"type":"array","description":"Days of the week this availability statement is valid","items":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"maxItems":7,"minItems":1,"uniqueItems":true}},"required":["daysOfWeek","endTime","startTime"]},"SpaceUpdateDto":{"type":"object","properties":{"status":{"type":"string","description":"resource's status. Available by default","enum":["AVAILABLE","MAINTENANCE","LOANED"]},"name":{"type":"string","description":"Short name.Not necessarily unique","example":"Cable HDMI","maxLength":200,"minLength":0},"description":{"type":"string","description":"Short resource description","example":"Cable HDMI de 10 Mts","maxLength":455,"minLength":0},"studentsAvailable":{"type":"boolean","description":"Whether this resource can be reserved by students"},"buildingId":{"type":"integer","format":"int64","description":"ID of the building where this resource is physically located"},"availability":{"type":"array","description":"Availability recurrent blocks that defines when this resource can be booked","items":{"$ref":"#/components/schemas/AvailabilitySlotUpdateDto"}},"exceptions":{"type":"array","description":"Defines blocks of time when the availability shouldn't be valid and resource can't be booked","items":{"$ref":"#/components/schemas/AvailabilityExceptionUpdateDto"}},"spaceTypeId":{"type":"integer","format":"int64","description":"ID of the space type/category to be registered"},"bookInAdvanceDuration":{"type":"string","description":"Time period for which the space must be booked in advance. In case the space requires booking in advance"},"capacity":{"type":"integer","format":"int32","description":"Maximum person capacity of the space"}},"required":["buildingId","capacity","name","spaceTypeId","studentsAvailable"]},"AvailabilityExceptionDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"dateFrom":{"type":"string","format":"date","description":"Date from which this availability exception begins"},"dateTo":{"type":"string","format":"date","description":"Date until which this availability exception begins"},"startTime":{"type":"string","description":"Availability exception start time"},"endTime":{"type":"string","description":"End time of the availability exception"},"reason":{"type":"string","description":"Short reason or cause for this exception in availability","maxLength":255,"minLength":1}},"required":["dateFrom","dateTo","endTime","reason","startTime"]},"AvailabilitySlotDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"ID of this slot/group of availability"},"reservableId":{"type":"integer","format":"int64","description":"ID of the reservable that is described by this slot"},"dateFrom":{"type":"string","format":"date","description":"Date from which this availability statement is valid. If NULL or not specified, it is interpreted as immediate validity."},"dateTo":{"type":"string","format":"date","description":"Date until which this availability statement is valid. If NULL or not specified, it is interpreted as valid indefinitely."},"startTime":{"type":"string","description":"Availability start time"},"endTime":{"type":"string","description":"Availability end time"},"daysOfWeek":{"type":"array","description":"Days of the week this availability statement is valid","items":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"maxItems":7,"minItems":1,"uniqueItems":true}},"required":["endTime","startTime"]},"BuildingDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Docencia 1"},"deletedAt":{"type":"string","format":"date-time"}}},"EquipmentTypeDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string","example":"Proyector"},"description":{"type":"string","example":"Equip
[...]
